body{
  background-image:url("https://c4.wallpaperflare.com/wallpaper/871/1013/108/minimalism-red-abstract-digital-art-wallpaper-preview.jpg");
font-size:60px;
  text-align:center;
  color:white;
}
button{
  font-size:40px;
  
}