body{
  background-image:url("https://e1.pxfuel.com/desktop-wallpaper/110/217/desktop-wallpaper-stock-trading-trading-thumbnail.jpg");
font-size:30px;
  text-align:center;
  color:white;
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed;
}
button{
  font-size:20px;
  
}
.modal{
  text-align:center;

}