
#button:hover{
  background-color:orange;
}
body{
  
  background-image:url("https://img.freepik.com/premium-photo/working-with-laptop-computer-cactus-copyspace-table-background-top-view_34933-339.jpg");
          background-repeat: no-repeat;
        background-size:cover;
        background-attachment:fixed;
 text-align:center;
  font-size:40px;
  
      }
