body{
  text-align:center;
  font-size:50px;
  background-image:url("https://i.pinimg.com/originals/8c/43/64/8c43645fe8d0ac164a6925448be32858.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed;
  
}
label{
  color:#3352FF;
  font-style:italic;
  font-size:50px;
}
input{
  font-size:40px;
  color:#FF6433;
  
}
body{
  margin-top:100px;
  margin-bottom:100px;
  margin-right:150px;
  margin-left:80px;
  
  
}